.form-field {
    min-width: 100%;
    max-width: 100%;
    width: auto;
}

.example-full-width {
    width: 80%;
    margin: auto;
}

.card {
    max-width: 50%;
    margin: auto;
    text-align: center;
  }

