<mat-card class="card">
        <mat-label>Leave new comment about {{mySelectedArtista.nombre}}!</mat-label>
   <!-- <mat-form-field class="full-width">
        <input matInput placeholder="Username" [(ngModel)]="miComment.usuario">
        
    </mat-form-field>-->
    <p>
    <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize matAutosizeMinCols=6 matAutosizeMaxCols=5 placeholder="Insert comment here" [(ngModel)]="miComment.texto" >
</textarea>
        </mat-form-field>
    </p>
    <button mat-raised-button (click)="addnewComment(mySelectedArtista)" color="primary">Insertar</button>
</mat-card>
