<mat-card class="example-card">
    <mat-card-header>
            <div mat-card-avatar>
                    <img mat-card-avatar src="https://picsum.photos/200/300/?random" alt="Photo of a Shiba Inu">
                </div>
        <mat-card-title>{{mySelectedComment.usuario.username}}</mat-card-title> 
        <mat-card-subtitle>({{mySelectedComment.usuario.nombre}} {{mySelectedComment.usuario.apellido}})</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <p>
            {{mySelectedComment.texto}}
        </p>
    </mat-card-content>
</mat-card>