<mat-grid-list cols="1" rowHeight="7:2">
    <mat-grid-tile>
        <img width="80%" height="80%" alt="TechnoApp logo" 
        src="https://imagizer.imageshack.com/img921/517/2FuFqs.png">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2.5:0.5">
  <mat-grid-tile>
      <img width="60%" height="70%" alt="Register logo" 
      src="https://imagizer.imageshack.com/img921/381/P0FXME.png" [routerLink]="['/register']">
  </mat-grid-tile>
  <mat-grid-tile>
      <img width="60%" height="70%" alt="Login logo" 
      src="https://imagizer.imageshack.com/img921/7549/1OcOET.png" [routerLink]="['/login']">
  </mat-grid-tile>
</mat-grid-list>

