<div class="example-container">
  <div>
    <mat-card-title>New Artist</mat-card-title>
  </div>
    <mat-form-field>
      <input matInput placeholder="Artist Name" [(ngModel)]="miArtista.nombre">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Category" [(ngModel)]="miArtista.categoria"></textarea>
    </mat-form-field>
  
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="miArtista.descripcion"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Image URL" [(ngModel)]="miArtista.imagen"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="addnewArtista()" color="primary">Create</button>
  </div>
  