<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title style="text-align: center">Register</mat-card-title>
  </mat-card-header>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Lastname" [(ngModel)]="apellido">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Email" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input  matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" [(ngModel)]="pwd">
  </mat-form-field>
  <button (click)="registerUser()" mat-button color="primary">Register</button>
  <button [routerLink]="['home']" routerLinkActive="router-link-active" mat-button color="primary">Cancel</button>
</mat-card>