<app-detalle-artista [mySelectedArtista]="artista" [detalle]="false"></app-detalle-artista>
<br>
<app-lista-comments [mySelectedArtista]="artista"></app-lista-comments>
<br>
<br>
<app-create-comment [mySelectedArtista]="artista"></app-create-comment>