<div class="example-button-row">
        
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>TechnoApp</span>
                <span class="menu-spacer"></span>
                <button mat-button (click)="menu.toggle()">
                    <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-sidenav-container>
            <mat-sidenav #menu mode="side" closed class="side-container">
                <img width="100%" height="100" alt="TechnoApp logo" 
                src="https://imagizer.imageshack.com/img921/517/2FuFqs.png" [routerLink]="['/welcome']">
                <button mat-button routerLink="/home">
                    <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">visibility</mat-icon>
                    <span>View Artists</span>
                </button>
                <button mat-button routerLink="/new-artista">
                    <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">create</mat-icon>
                    <span>Create Artist</span> 
                </button>
                <button mat-button  (click)="signOut()">
                    <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">power_settings_new</mat-icon>
                    <span>Logout</span> 
                </button>
            </mat-sidenav>
            <mat-sidenav-content width="100%" height="100%">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
        </div>