<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{mySelectedArtista.nombre}}</mat-card-title>
    <mat-card-subtitle>{{mySelectedArtista.categoria}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{mySelectedArtista.imagen}} alt="Artst Pic">
  <mat-card-content>
    <p>
     {{mySelectedArtista.descripcion}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container >
            <button [routerLink]="['/artista-profile', mySelectedArtista.id]" *ngIf="detalle" >OPEN</button>
    </ng-container>
    
  </mat-card-actions>
</mat-card>
