<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title style="text-align: center">Login</mat-card-title>
  </mat-card-header>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" [(ngModel)]="user_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" [(ngModel)]="pass">
  </mat-form-field>

  <button (click)="logIn()" mat-button color="primary">Sign in</button>
  <br>
  Do not have an account?<button [routerLink]="['/register']" routerLinkActive="router-link-active" mat-button color="primary">Register</button>
</mat-card>